//Button Styles
.btn-small{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    line-height: 1;
    letter-spacing: normal;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    transition: box-shadow 420ms cubic-bezier(.165,.84,.44,1),color 420ms cubic-bezier(.165,.84,.44,1),background 420ms cubic-bezier(.165,.84,.44,1);
  }
    
  .btn{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: normal;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 40px 20px;
    transition: box-shadow 420ms cubic-bezier(.165,.84,.44,1),color 420ms cubic-bezier(.165,.84,.44,1),background 420ms cubic-bezier(.165,.84,.44,1);
  }
    
  .btn-primary{
    background: #28b78d;
    color: white;
    &:hover {
      opacity: 0.9;
    }
  
    a{
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }
    
  .btn-secondary{
    background-color: #fff;
    color: #477bb4;
    fill: #477bb4;
    box-shadow: inset 0 0 0 1px #477bb4;
  
    &:hover{
      background-color: #477bb4;
      color: white;
    }
  
    a{
      text-decoration: none;
      color: inherit;
    }
  }
    
  .btn-secondary-solid {
    background-color: #477bb4;
    color: white;
    fill: #477bb4;
    box-shadow: inset 0 0 0 1px #477bb4;
    cursor: auto;
  
    &:hover{
      cursor: pointer;
      background-color: #386290; 
      box-shadow: inset 0 0 0 1px #386290;
    }
  
    a{
      text-decoration: none;
      color: inherit;
    }
  }