//Footer Styles
.footer{
  background-color: white;
  border-top: 1px solid #e7e7e7;
  a{
    color: inherit; 
    font-size: 12px;
    &:hover {
      color: $blue;
    }
  }

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li{
    margin: 10px 0px;
  }
}

.footer_icons {
  display: flex;
  justify-content: left;
  padding: 25px 0px; 

  a {
    padding-right: 20px;
  }
}

.footer_copyright{
  font-size: 10px; 
  text-align: center; 
  color: inherit; 
  padding-bottom: 10px;
}

.footer-grid{
  @include for-size(phone-only){
    display: grid;
    grid-template-rows: auto;
  }

  @include for-size(tablet-portrait-up){
    display: grid;
    grid-template-rows: auto;
  }

  @include for-size(tablet-landscape-up){
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

.footer-logo{
  img{
    max-width: 75px;
  }
}