@import url(https://fonts.googleapis.com/css?family=Bitter:400,500,700|Montserrat:200,300,400,500,600,700);

@import "bulma/utilities/_all.scss";
@import "bulma/components/_navbar.scss";
@import "bulma/components/_button.scss";

// Dynamic Font
$baseline: 1.2rem;

$minScreen: 20rem;
$maxScreen: 50rem;
$minFont: .8rem;
$maxFont: 1.4rem;

$h1: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: .875rem;


@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
	& {
		@each $property in $properties {
			#{$property}: $min-value;
		}

		@media screen and (min-width: $min-vw) {
			@each $property in $properties {
				#{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}
		}

		@media screen and (min-width: $max-vw) {
			@each $property in $properties {
				#{$property}: $max-value;
			}
		}
	}
}

@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

*{
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	height: 100%;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	@include fluid-type(font-size, $minScreen, $maxScreen, $minFont, $maxFont);
}

.img-reveal{
  visibility: hidden;
}

body {
  line-height: $baseline;
  font-size: 18px;
  background-color: #f9f9f9;
  color: #3e3e3e;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.6;  
  margin: 0;
  padding: 0;
}
  

h1,h2,h3,h4,h5{
	font-weight: 700;
  margin-bottom: $baseline;
  font-family: 'Bitter', sans-serif;
  color: #333;
}

h1 {
	font-size: $h1;
	line-height: $h1;
	margin-top: calc((#{$baseline} - #{$h1}) + #{$baseline});
}

h2 {
	font-size: $h2;
	line-height: $h2;
	margin-top: calc((#{$baseline} - #{$h2}) + #{$baseline}*2);
}

h3 {
	font-size: $h3;
	line-height: $h3;
	margin-top: calc((#{$baseline} - #{$h3}) + #{$baseline}*2);
}

h4 {
	font-size: $h4;
	line-height: $h4;
	margin-top: calc((#{$baseline} - #{$h4}) + #{$baseline}*2);
}

h5 {
	font-size: $h5;
	line-height: $h5;
	margin-top: calc((#{$baseline} - #{$h5}) + #{$baseline}*2);
}
// End Dynamic Font

hr{
  border-style: solid;
  color: #f0f0f0;
}

// Main Colors
$blue: #7FBAFA;
$darkblue: #2A4059;
$grey: #4a4a4a;
$green: #0dab76;

//Breakpoint mixins
@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}

// Navigation Styles

a {
  color: #000;
  text-decoration: none;
}

/* header */

.has-box-shadow {
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.has-padding {
  @include for-size(phone-only){
    padding: 0;
  }

  @include for-size(tablet-portrait-up) {
    padding: 0;
  }

  @include for-size(tablet-landscape-up){
    padding: 0 7%;
  }
}

.logo{
  img {
    max-width: 150px;
  }
}

//Global container
.main-container{
  @include for-size(phone-only){
    margin: 0 auto;
    padding: 2rem;
    overflow-x: hidden;
  }

  @include for-size(tablet-portrait-up){
    margin: 0 auto;
    padding: 2rem;
    overflow-x: hidden;
  }

  @include for-size(tablet-landscape-up){
    padding: 5rem;
  }
}


// Hero Container
.hero-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .hero-title{
    align-self: center;
    p{font-size: 24px;}
  }

  .hero-img{
   justify-self: end;
   img{
     max-width: 600px;
   }
  }
}

// Post preview style

.article-grid{

  @include for-size(phone-only){
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-row-gap: 25px;
  }

  @include for-size(tablet-portrait-up){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }

  @include for-size(tablet-landscape-up){
    grid-template-columns: repeat(3, 1fr);
  }


  .article-category-date{
    font-size: 12px;
  }
}

.article_item{
  p {
    font-size: 16px;
  }

  img{width: 100%;}

}

// Article Details
.detail_container {
  h1{text-align: center;}
  
  @include for-size(phone-only){
    margin: 0;
  }

  @include for-size(tablet-portrait-up){
    margin: 0 3rem;
  }

  @include for-size(tablet-landscape-up){
    margin: 0 5rem;
  }
  
  .detail-cover-img{
    max-width: 800px;
    margin: 3rem auto;
    img{
      width: 100%;
    }
  }
}

.detail_copy {
  h1{text-align: left;}
}

// Footer Styles

.new-footer{
  background-color: $darkblue;
  a{
    color: white; 
    text-decoration: none;
    &:hover {
      opacity: .9;
    }
  }

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.footer_top {
  padding: 50px 50px 25px;
  margin: 0 auto;
  text-align: center;
  img {
    max-width: 75px;
  }
}

.footer_icons {
  display: flex;
  justify-content: center;
  margin-left: 40px;
  padding: 25px 0px;  

  a {
    padding-right: 45px;
  }
}

.footer_bottom{
  @include for-size(phone-only){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin: 0 auto;
    color: white;
    padding: 1rem 3rem;
  }

  @include for-size(tablet-portrait-up) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin: 0 auto;
    color: white;
    padding: 1rem 3rem;
  }

  @include for-size(tablet-landscape-up){
    padding: 25px 10rem;
  }
  li {
    font-size: 14px; 
  }
}


.footer-header{
  font-size: 16px;
  font-weight: 700;
  color: white;
  
  p{
    margin: 0;
    font-size: 14px;
  }
}

.footer_location_grid{
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 8px;
}

.footer_copyright{
  font-size: 10px; 
  text-align: center; 
  color: white; 
  padding-bottom: 10px;
}
