@import url(https://fonts.googleapis.com/css?family=Bitter:400,500,700|Montserrat:200,300,400,500,600,700);

// Dynamic Font
$baseline: 1.2rem;

$minScreen: 20rem;
$maxScreen: 50rem;
$minFont: .8rem;
$maxFont: 1.4rem;

$h1: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: .875rem;


@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
	& {
		@each $property in $properties {
			#{$property}: $min-value;
		}

		@media screen and (min-width: $min-vw) {
			@each $property in $properties {
				#{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
			}
		}

		@media screen and (min-width: $max-vw) {
			@each $property in $properties {
				#{$property}: $max-value;
			}
		}
	}
}

@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

*{
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	height: 100%;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	@include fluid-type(font-size, $minScreen, $maxScreen, $minFont, $maxFont);
}

.img-reveal{
  visibility: hidden;
}

body {
  line-height: $baseline;
  font-size: 18px;
  background-color: #f9f9f9;
  color: #3e3e3e;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.6;  
  margin: 0;
  padding: 0;
}
  

h1,h2,h3,h4,h5{
	font-weight: 700;
  margin-bottom: $baseline;
  font-family: 'Bitter', sans-serif;
  color: #333;
}

h1 {
	font-size: $h1;
	line-height: $h1;
	margin-top: calc((#{$baseline} - #{$h1}) + #{$baseline});
}

h2 {
	font-size: $h2;
	line-height: $h2;
	margin-top: calc((#{$baseline} - #{$h2}) + #{$baseline}*2);
}

h3 {
	font-size: $h3;
	line-height: $h3;
	margin-top: calc((#{$baseline} - #{$h3}) + #{$baseline}*2);
}

h4 {
	font-size: $h4;
	line-height: $h4;
	margin-top: calc((#{$baseline} - #{$h4}) + #{$baseline}*2);
}

h5 {
	font-size: $h5;
	line-height: $h5;
	margin-top: calc((#{$baseline} - #{$h5}) + #{$baseline}*2);
}
// End Dynamic Font

hr{
  border-style: solid;
  color: #f0f0f0;
}

// Main Colors
$blue: #7FBAFA;
$darkblue: #2A4059;
$grey: #4a4a4a;
$green: #0dab76;

//Breakpoint mixins
@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}

// Navigation Styles

a {
  color: #000;
}

/* header */

.header {
  background-color: white;
  position: fixed;
  box-shadow: 0 1px 1px rgba(0,0,0,.15);
  width: 100%;
  z-index: 3;

  img {
    max-width: 150px;
  }
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: white;
}

.header li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color:#656565;
  font-weight: 300;
  font-size: 14px; 
}

.header li a:hover,
.header .menu-btn:hover {
  color: $blue;
}

.header .logo {
  display: block;
  float: left;
  padding: 20px 30px 5px 7%;
  text-decoration: none;
}

.nav-cta-button {
  margin-left: 15px;
  margin-bottom: 10px;
}


/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 35px 20px 0px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 275px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {

  .header li {
    float: left;
  }
  .header li a {
    padding: 26px 25px 5px;
  }
  .header .menu {
    clear: none;
    float: left;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  .nav-cta-button {
    display:inline-block;
    margin-top: 18px;
    margin-right: 20px;
  
    button {
      padding: 10px;
      font-size: 14px;
    }
  }
  
}
// End Navigation Styles

.secondary-nav{
  position: relative;
  float: right;
  padding: 21px 7% 0px 0px;
}

.nav-style {
  text-decoration: none;
  color:#656565;
  font-weight: 300;
  font-size: 14px;
  padding-right: 25px;

  &:hover {
    cursor: pointer;
    color: $blue;
  }
}


// Footer Styles
footer {
  background: $darkblue;
  color: white;

  a{
    color:white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    &:hover {
      opacity:0.9;
    }
  }

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-header{
    font-size: 16px;
    font-weight: 700;

    p{
      margin: 0;
    }
  }

  .footer-container{
    display: grid;
    padding: 5% 8% 5%;
    @include for-size(phone-only){
      grid-auto-rows: auto;
      grid-row-gap: 25px;
    }

    @include for-size(tablet-portrait-up){
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 50px;
    }

    @include for-size(tablet-landscape-up){
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    }
  }

  .footer-logo-col {
    img{
      max-width: 150px;
    }

    p{
      font-size: 12px;
      margin: 0.5em 0;
    }
  }
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 10px auto;
  .fa {
    color:white;
  }
  a{
    padding-right: 15px; 
    &:hover {
      opacity: .9;
    }
  }
}
