@import "fonts/sf-pro.css";

// Main Colors
$blue: #7FBAFA;
$darkblue: #2A4059;
$grey: #4a4a4a;
$green: #0dab76;

// Bulma Components
@import "bulma/utilities/_all.scss";
@import "bulma/components/_navbar.scss";
@import "bulma/components/_button.scss";

//Mixins
@import "mixins/dynamic-font.css.scss";
@import "mixins/breakpoints.css.scss";

*{
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	height: 100%;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	@include fluid-type(font-size, $minScreen, $maxScreen, $minFont, $maxFont);
}

.img-reveal{
  visibility: hidden;
}

body {
  line-height: $baseline;
  font-size: 16px;
  background-color: #fff;
  color: $grey;
  font-family: 'SF Pro', sans-serif;
  font-weight: 400;
  line-height: 1.6;  
  margin: 0;
  padding: 0;
}

hr{
  border-style: solid;
  color: #f0f0f0;
  border-width: 0.5px;
}

// Navigation Styles

a {
  color: #000;
  text-decoration: none;
}

/* header */

.has-box-shadow {
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.has-padding {
  @include for-size(phone-only){
    padding: 0;
  }

  @include for-size(tablet-portrait-up) {
    padding: 0;
  }

  @include for-size(tablet-landscape-up){
    padding: 0 7%;
  }
}

.logo{
  img {
    max-width: 150px;
  }
}

// Headroom CSS

.headroom {
  will-change: transform;
  transition: transform 250ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

//Global container
.main-container{
  @include for-size(phone-only){
    margin: 0 auto;
    padding: 2rem;
    overflow-x: hidden;
  }

  @include for-size(tablet-portrait-up){
    margin: 0 auto;
    padding: 2rem;
    overflow-x: hidden;
  }

  @include for-size(tablet-landscape-up){
    padding: 3rem 8rem 5rem;
    max-width: 1800px;
  }
}

//Top Container

.top-container{
  text-align: center;
  margin: 3rem auto;

  img{
    width: 175px;
  }

  h1{margin-top: 15px;}
  h3{
    margin-top: 15px;
    font-weight: 300;
  }
}

// Feature Container

.article-grid {

  @include for-size(phone-only){
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-row-gap: 25px;
  }

  @include for-size(tablet-portrait-up){
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1.5fr 2fr; 
    grid-column-gap: 25px;
    grid-row-gap: 50px;
  }
  
  .article-img{
    img{
      width: 100%;
      height: 250px;
      object-fit: cover;
      border: 0.5px solid #eee;
    }
  }

  .article-text{
    h2{margin-top: 0px;}
    p{font-size: 16px}
  }
}

.article-profile {
  display: grid;
  grid-template-columns: 60px 1fr;
  
  img{
    max-width: 48px;
    border-radius: 50%;
  }

  .article-profile-text {
    p{
      margin: 0px;
      font-size: 14px;
      font-weight: 500;
      span{
        font-size: 12px;
        font-weight: 400
      }
    }
  }
}

// Post preview style

.article-grid{

  @include for-size(phone-only){
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-row-gap: 25px;
  }

  @include for-size(tablet-portrait-up){
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1.5fr 2fr; 
    grid-column-gap: 25px;
  }

  /*
  @include for-size(tablet-landscape-up){
    grid-template-columns: repeat(3, 1fr);
  }
  */

  .article-category-date{
    font-size: 12px;
  }
}

.article_item{
  p {
    font-size: 16px;
  }

  img{width: 100%;}

}

// Article Details
.detail_container {
  
  @include for-size(phone-only){
    margin: 0;
  }

  @include for-size(tablet-portrait-up){
    margin: 0 4rem;
  }

  @include for-size(tablet-landscape-up){
    margin: 0 10rem;
  }
  
  .detail-cover-img{
    max-width: 800px;
    margin: 3rem auto;
    
    img{
      width: 100%;
    }
  }
}

.detail_copy {
  h1{text-align: left;}
  img {
    width: 100%;
    border: 0.5px solid #eee;
  }
}


// Footer CSS
@import "mixins/footer.css.scss";