<section class="two-col-container snow-bg-bottom main-padding large-paragraph">
    <div>
        <h2>Sign Up for free!</h2>
        <p>Get immediately access to your property dashboard.</p> 
    </div> 
    <div class="align-center-end">
        <div class="button-row">
            <a href="https://ziprent.com/get-started"><button class="btn btn-secondary-solid">Sign Up Free</button></a>
            <a href="https://ziprent.com/pricing"><button class="btn btn-secondary">Pricing</button></a>
        </div>
    </div>
</section>