<footer class="footer footer-grid main-padding main-container">
    <div>
        <div class="footer-logo">
            <a href="/">
                <img alt="Ziprent logo" src="/images/logos/circle-blue.png">
            </a>
        </div>
        <div class="footer_icons">
            <a href="https://www.facebook.com/ziprent" target="_blank">
                <i class="fab fa-facebook-f fa-lg"></i>
            </a>
            <a href="mailto:admin@ziprent.com?Subject=Hello!" target="_blank">
                <i class="fas fa-envelope fa-lg"></i>
            </a> 
            <a href="https://www.twitter.com/zip_rent" target="_blank">
                <i class="fab fa-twitter fa-lg"></i>
            </a>
            <a href="https://www.linkedin.com/company/ziprent/" target="_blank">
                <i class="fab fa-linkedin fa-lg"></i>
            </a>
            <a href="https://www.linkedin.com/company/ziprent/" target="_blank">
                <i class="fab fa-instagram fa-lg"></i>
            </a>
        </div>
    </div> 

    <div>
        <div class="footer-header">
            <p>Product</p> 
        </div> 
        <ul>
            <li><a href="https://ziprent.com/property-management">How it works</a></li>
            <li><a href="https://ziprent.com/property-management-services">Services</a></li>
            <li><a href="https://ziprent.com/pricing">Pricing</a></li>
        </ul>
    </div>

    <div>
        <div class="footer-header">
            <p>Company</p> 
        </div>
        <ul>
            <li><a href="https://ziprent.com/about">About Us</a></li>
            <li><a href="https://blog.ziprent.com">Blog</a></li>
            <li><a href="https://ziprent.com/case-study">Case Studies</a></li>
        </ul>
    </div>

    <div>
        <div class="footer-header">
            <p>Information</p> 
        </div>
        <ul>
            <li><a href="https://www.iubenda.com/privacy-policy/53208652">Privacy Policy</a></li>
            <li><a href="https://www.iubenda.com/privacy-policy/53208652/cookie-policy">Cookie Policy</a></li>
        </ul>
    </div>
    
    <div>
        <div class="footer-header">
            <p>Connect</p> 
        </div>
        <ul>
            <li> <a href="mailto:start@ziprent.com">start@ziprent.com</a></li>
            <li><a href="tel:14156886660">(415) 688-6660</a></li>
        </ul>
    </div>

    <div>
        <div class="footer-header">
            <p>Areas we serve</p> 
        </div>
        <ul>
            <li><a href="https://ziprent.com/san-francisco-property-management">San Francisco</a></li>
            <li><a href="https://ziprent.com/marin-property-management">Marin</a></li>
            <li><a href="https://ziprent.com/santa-rosa-property-management">Santa Rosa</a></li>
            <li><a href="https://ziprent.com/san-jose-property-management">San Jose</a></li>
            <li><a href="https://ziprent.com/oakland-property-management" >Oakland</a></li>
            <li><a href="https://ziprent.com/berkeley-property-management">Berkeley</a></li>
        </ul>
    </div>
</footer>
<div class="footer_copyright">
    <p>2018 All rights reserved. Ziprent is made with ❤️ in Tiburon, CA. CalBRE: #01926609</p>
</div>