<footer>
    <div class="footer-container">
        <div class="footer-logo-col">
            <a href="/"><img alt="Ziprent Footer Logo" src="/images/logos/logo-white.png"></a>
            <p>2018 All rights reserved</p>
            <p>1550G Tiburon Blvd #343<br> Tiburon, CA 94920
            <p>CalBRE: #01926609</p>
        </div> 
        <div>
            <div class="footer-header">
                <p>Product</p> 
            </div> 
            <ul>
                <li><a href="/new/tenant-placement">Tenant Placement</a></li>
                <li><a href="/new/tenant-showing-application">Renters</a></li>
            </ul>
        </div>
        <div>
            <div class="footer-header">
                <p>Company</p> 
            </div>
            <ul>
                <li><a href="/new/about">About Us</a></li>
                <li><a href="https://medium.com/@ziprent">Blog</a></li>
            </ul>
        </div>
        <div>
            <div class="footer-header">
                <p>Information</p> 
            </div>
            <ul>
                <li><a href="https://www.iubenda.com/privacy-policy/53208652">Privacy Policy</a></li>
                <li><a href="https://www.iubenda.com/privacy-policy/53208652/cookie-policy">Cookie Policy</a></li>
            </ul>
        </div>
        <div>
            <div class="footer-header">
                <p>Areas we serve</p> 
            </div>
            <ul>
                <li><a href="https://ziprent.com/san-francisco-tenant-placement" target="_blank">San Francisco</a></li>
                <li><a href="https://ziprent.com/san-jose-tenant-placement" target="_blank">San Jose</a></li>
                <li><a href="https://ziprent.com/oakland-tenant-placement" target="_blank">Oakland</a></li>
                <li><a href="https://ziprent.com/berkeley-tenant-placement" target="_blank">Berkeley</a></li>
                <li><a href="https://ziprent.com/east-bay-tenant-placement" target="_blank">East Bay</a></li>
                <li><a href="https://ziprent.com/north-bay-tenant-placement" target="_blank">North Bay</a></li>
            </ul>
        </div>
        <div>
            <div class="footer-header">
                <p>Connect with us!</p> 
            </div>
            <ul>
                <li> <a href="mailto:start@ziprent.com">start@ziprent.com</a></li>
                <li><a href="tel:15555555555">+1(555) 555.5555</a></li>
            </ul>
            <div class="icons">
                <a href="https://www.facebook.com/ziprent" target="_blank">
                    <i class="fab fa-facebook-f fa-lg"></i>
                </a>
                <a href="mailto:admin@ziprent.com?Subject=Hello!" target="_blank">
                    <i class="fas fa-envelope fa-lg"></i>
                </a> 
                <a href="https://www.twitter.com/zip_rent" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                </a>
                <a href="https://www.linkedin.com/company/ziprent/" target="_blank">
                    <i class="fab fa-linkedin fa-lg"></i>
                </a>
            </div>
        </div>
    </div>
</footer>







