<footer class="new-footer">
    <div class="footer_top">
        <img alt="secondary ziprent logo" src="/images/logos/white-second.png">
    </div>
    <div class="footer_icons">
        <a href="https://www.facebook.com/ziprent" target="_blank">
            <i class="fab fa-facebook-f fa-lg"></i>
        </a>
        <a href="mailto:start@ziprent.com?Subject=Hello!" target="_blank">
            <i class="fas fa-envelope fa-lg"></i>
        </a> 
        <a href="https://www.twitter.com/zip_rent" target="_blank">
            <i class="fab fa-twitter fa-lg"></i>
        </a>
        <a href="https://www.linkedin.com/company/ziprent/" target="_blank">
            <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <a href="https://www.linkedin.com/company/ziprent/" target="_blank">
            <i class="fab fa-instagram fa-lg"></i>
        </a>
    </div>
    <div class="footer_bottom">
        <div>
            <div class="footer-header">
                <p>Product</p> 
            </div> 
            <ul>
                <li><a href="/new/tenant-placement">Tenant Placement</a></li>
                <li><a href="/new/tenant-showing-application">Renters</a></li>
            </ul>
        </div>
        <div>
            <div class="footer-header">
                <p>Company</p> 
            </div>
            <ul>
                <li><a href="/new/about">About Us</a></li>
                <li><a href="https://blog.ziprent.com">Blog</a></li>
                <li><a href="/new/case-studies">Case Studies</a></li>
            </ul>
        </div>
    
        <div>
            <div class="footer-header">
                <p>Information</p> 
            </div>
            <ul>
                <li><a href="https://www.iubenda.com/privacy-policy/53208652">Privacy Policy</a></li>
                <li><a href="https://www.iubenda.com/privacy-policy/53208652/cookie-policy">Cookie Policy</a></li>
            </ul>
        </div>
        <div>
            <div class="footer-header">
                <p>Connect with us!</p> 
            </div>
            <ul>
                <li> <a href="mailto:start@ziprent.com">start@ziprent.com</a></li>
                <li><a href="tel:14156886660">+1(415) 688.6660</a></li>
            </ul>
        </div>
        <div>
            <div class="footer-header">
                <p>Areas we serve</p> 
            </div>
            <ul class="footer_location_grid">
                <li><a href="https://ziprent.com/san-francisco-tenant-placement" target="_blank">San Francisco</a></li>
                <li><a href="https://ziprent.com/san-jose-tenant-placement" target="_blank">San Jose</a></li>
                <li><a href="https://ziprent.com/oakland-tenant-placement" target="_blank">Oakland</a></li>
                <li><a href="https://ziprent.com/berkeley-tenant-placement" target="_blank">Berkeley</a></li>
                <li><a href="https://ziprent.com/east-bay-tenant-placement" target="_blank">East Bay</a></li>
                <li><a href="https://ziprent.com/north-bay-tenant-placement" target="_blank">North Bay</a></li>
            </ul>
        </div>
    </div>
    <div class="footer_copyright">
         <p>2019 All rights reserved. Ziprent is made with &heartsuit; in Tiburon, CA. CalBRE: #01926609</p>
    </div>
</footer>