<header class="header">
    <a href="/new/home" class="logo"><img alt="Ziprent Logo" src="/images/logos/logo.png"></a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li><a href="/new/tenant-placement">Tenant Placement</a></li>
        <li><a href="/new/tenant-showing-application">Renters</a></li>
        <li><a href="/new/about">About</a></li>
    </ul>
    <div class="secondary-nav">
        <a class="nav-style" href="#">Login</a>
        <button class="btn-small btn-primary"><a href="/new/get-started-new">Get Started</a></button>
    </div>
</header>