<nav class="navbar has-box-shadow has-padding headroom" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item logo" href="/">
        <img src="/images/logos/logo.png">
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="#" class="navbar-link">
            Homeowners
          </a>
          <div class="navbar-dropdown">
            <a href="https://ziprent.com/property-management" class="navbar-item">
              How it works
            </a>
            <a href="https://ziprent.com/property-management-services" class="navbar-item">
              Property Management
            </a>
            <a href="https://ziprent.com/tenant-placement-services" class="navbar-item">
              Tenant Placement
            </a>
            <a href="https://ziprent.com/pricing" class="navbar-item">
              Pricing
            </a>
          </div>
        </div>
        <a href="https://ziprent.com/renters" class="navbar-item">
          Renters
        </a>

        <a href ="https://ziprent.com/about" class="navbar-item">
          About
        </a>
        <a href ="https://ziprent.com/contact" class="navbar-item">
          Contact Us
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <a href="#" class="navbar-item">
            Log in
          </a>
          <a  href="https://ziprent.com/get-started" style="font-size: 14px;" class="button is-primary">
            Get Started
          </a>
        </div>
      </div>
    </div>
</nav>