<nav class="navbar is-fixed-top has-box-shadow has-padding" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item logo" href="https://bulma.io">
        <img src="/images/logos/logo.png">
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Tenant Placement
        </a>

        <a class="navbar-item">
          Renters
        </a>

        <a class="navbar-item">
            About
          </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <a class="navbar-item">
            Log in
          </a>
          <a style="font-size: 14px;" class="button is-primary">
            <strong>Sign up</strong>
          </a>
        </div>
      </div>
    </div>
</nav>