<article class="detail-container">
    <h1><%= article.title %></h1>
    <div class="detail-cover-img">
        <img src="<%= article.cover_image %>">
    </div>
    <p><%= article.body_content %></p> 
    <p>Consectetur libero id faucibus nisl tincidunt. Amet nisl suscipit adipiscing bibendum est ultricies integer. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Ridiculus mus mauris vitae ultricies leo. Nunc lobortis mattis aliquam faucibus purus in massa tempor nec. Tristique magna sit amet purus gravida quis. Amet porttitor eget dolor morbi non arcu risus quis varius. Nunc aliquet bibendum enim facilisis gravida neque convallis a cras. Ac turpis egestas sed tempus urna et pharetra pharetra. Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. Sed viverra tellus in hac habitasse platea dictumst vestibulum. Eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque. Pellentesque id nibh tortor id aliquet. Eget velit aliquet sagittis id consectetur purus ut faucibus pulvinar. Feugiat in ante metus dictum. Eget felis eget nunc lobortis mattis aliquam faucibus purus in. Orci ac auctor augue mauris augue neque gravida in fermentum. Felis bibendum ut tristique et.</p>
</article>